header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    color:darkred;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    align-content: center;
    
}
